div {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.custom-container {
  max-width: 500px;
}
.custom-container-2 {
  max-width: 800px;
}
.table-bordered td {
  font-size: 14px;
}
.edit {
  margin-right: 10px;
}
.edit,
.delete {
  cursor: pointer;
  display: inline-block;
  color: blue;
}
.no-data {
  padding-top: 50px;
}
.no-data p {
  font-size: 27px;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.2px;
  padding-bottom: 10px;
}

button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #04aa6d;
  padding: 10px;
  border-radius: 5px;
  margin: 0.1%;
  display: flex;
  justify-content: center;
  border: none;
  transition: all 0.4s ease 0s;
}

button:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
