<div
  class="
    d-flex
    flex-column flex-md-row
    align-items-center
    p-3
    px-md-4
    mb-3
    bg-white
    border-bottom
    shadow-sm
  "
>
  <h2 class="my-0 mr-md-auto font-weight-normal flex-item">
    Employee Management
  </h2>
  <div class="flex">
    <nav class="my-2 my-md-0 mr-md-3">
      <button
        class="btn btn-outline-primary flex-item"
        routerLinkActive="active"
        routerLink="/create-employee"
      >
        Create Employee
      </button>
    </nav>
    <button
      class="btn btn-outline-primary flex-item"
      routerLinkActive="active"
      routerLink="/employees-list"
    >
      Employees List
    </button>
  </div>
</div>
<router-outlet></router-outlet>
